* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    ul {
        list-style: none;
    }

    a {
        text-decoration: none;
    }

}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 15px 4%;

    .left-links {
        .nav-link {
            ul {
                li {
                    
                }
            }
        }
    }
}